<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMDance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMDance.Properties.Settings>
            <setting name="TimerRes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimerMultiplierX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerMultiplierY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerMultiplierZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerStrike" serializeAs="String">
                <value>5</value>
            </setting>
        </MMDance.Properties.Settings>
    </userSettings>
</configuration>