vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 May 2012 18:34:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ZOTAG\\Toshiba
vti_modifiedby:SR|ZOTAG\\Toshiba
vti_timecreated:TR|02 May 2012 18:34:37 -0000
vti_cacheddtm:TX|02 May 2012 18:34:37 -0000
vti_filesize:IR|2203
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif FSUS|images/masthead.gif
vti_backlinkinfo:VX|
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs/:TX|02 May 2012 18:34:37 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs/:TW|03 May 2012 19:18:01 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TW|24 Oct 2012 19:44:25 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TX|02 May 2012 18:34:37 -0000
