vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Oct 2012 12:32:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ZOTAG\\Toshiba
vti_modifiedby:SR|ITVGROUP.CXM\\danil.serov
vti_timecreated:TR|02 May 2012 18:34:37 -0000
vti_backlinkinfo:VX|maxi/default.html faq/default.html master.dwt photo_gallery/default.html mini/default.html default.dwt information_links/default.html midi/default.html about/default.html contact/default.html default.html news/default.html
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs/:TX|02 May 2012 18:34:37 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs/:TW|03 May 2012 19:18:01 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TW|24 Oct 2012 19:44:25 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TX|02 May 2012 18:34:37 -0000
vti_cacheddtm:TX|29 Oct 2012 12:32:25 -0000
vti_filesize:IR|2537
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif
