vti_encoding:SR|utf8-nl
vti_author:SR|NetbookAsus\\Toshiba
vti_modifiedby:SR|ITVGROUP.CXM\\danil.serov
vti_timelastmodified:TR|01 Oct 2013 13:12:20 -0000
vti_timecreated:TR|24 Aug 2013 08:33:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css styles/style0.css styles/style1.css
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TW|24 Aug 2013 10:02:59 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TX|24 Aug 2013 08:33:20 -0000
vti_cacheddtm:TX|01 Oct 2013 13:12:20 -0000
vti_filesize:IR|515
