vti_encoding:SR|utf8-nl
vti_author:SR|ITVGROUP.CXM\\danil.serov
vti_modifiedby:SR|ITVGROUP.CXM\\danil.serov
vti_timelastmodified:TR|29 Apr 2014 14:58:51 -0000
vti_timecreated:TR|29 Apr 2014 14:58:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_ftp.minimaxis.nichost.ru\:21:TX|29 Apr 2014 14:58:51 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21:TW|28 Aug 2014 09:53:13 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/cnc.msk.ru/docs:TX|19 Apr 2014 15:02:20 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/cnc.msk.ru/docs:TW|02 Aug 2014 09:17:38 -0000
vti_cacheddtm:TX|29 Apr 2014 14:58:51 -0000
vti_filesize:IR|2522
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background_tile.gif S|../images/masthead_image.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background_tile.gif FSUS|images/masthead_image.jpg
