vti_encoding:SR|utf8-nl
vti_author:SR|NetbookAsus\\Toshiba
vti_modifiedby:SR|NetbookAsus\\Toshiba
vti_timelastmodified:TR|24 Aug 2013 08:33:20 -0000
vti_timecreated:TR|24 Aug 2013 08:33:20 -0000
vti_cacheddtm:TX|24 Aug 2013 08:33:20 -0000
vti_filesize:IR|2821
vti_cachedlinkinfo:VX|Q|layout.css S|../images/leftphoto.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/leftphoto.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TW|24 Aug 2013 10:03:00 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/minimaxis.ru/docs:TX|24 Aug 2013 08:33:20 -0000
