vti_encoding:SR|utf8-nl
vti_author:SR|ITVGROUP.CXM\\danil.serov
vti_modifiedby:SR|ITVGROUP.CXM\\danil.serov
vti_timelastmodified:TR|29 Apr 2014 14:58:51 -0000
vti_timecreated:TR|29 Apr 2014 14:58:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css styles/style1.css
vti_syncwith_ftp.minimaxis.nichost.ru\:21:TX|29 Apr 2014 14:58:51 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21:TW|21 Aug 2014 08:49:53 -0000
vti_syncwith_ftp.minimaxis.nichost.ru\:21/cnc.msk.ru/docs:TX|19 Apr 2014 15:02:19 -0000
vti_syncofs_ftp.minimaxis.nichost.ru\:21/cnc.msk.ru/docs:TW|02 Aug 2014 09:17:33 -0000
vti_cacheddtm:TX|29 Apr 2014 14:58:51 -0000
vti_filesize:IR|635
