<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMDance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMDance.Properties.Settings>
            <setting name="TimerRes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimerMultiplierZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerMultiplierX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerMultiplierB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerStrike" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PicFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerMultiplierW" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepMultiplierW" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WhiteColorMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlackColorMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepsPerPixel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProfileDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="StepZmm" serializeAs="String">
                <value>0.0461</value>
            </setting>
            <setting name="StepYmm" serializeAs="String">
                <value>0.00505</value>
            </setting>
            <setting name="StepBgrad" serializeAs="String">
                <value>0.225</value>
            </setting>
            <setting name="BezierCurve" serializeAs="String">
                <value />
            </setting>
            <setting name="BezierCurveLimit" serializeAs="String">
                <value />
            </setting>
            <setting name="YStart" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ZStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Roughing" serializeAs="String">
                <value>False</value>
            </setting>
        </MMDance.Properties.Settings>
    </userSettings>
</configuration>